body{
    margin: 0;
    background-color: darkblue;
}
.container{
    display: flex;
    justify-content: space-around;
}
h3{
    /* margin-top: 20px; */
    text-align: center;
    color: white;
    font-size: 2rem;
}
.black-board{
    width: 160px;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 4rem;
    /* padding-top: 5px; */
}
.white-board{
    width: 160px;
    height: 100px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 4rem;
    /* padding: 30px; */
}
.score-btn{
    display: block;
    margin: 20px auto;
    margin-left: 20px;
}
.score-btn-two {
    display: block;
    margin: 20px auto;
}
.newgame{
    display: block;
    margin: 0 auto;
    padding: 20px;
}